.card {
  margin: 1vh;
}

.header-image {
  background-size: cover;
  cursor: pointer;
}

.mat-card-actions {
  display: flex;
  margin-top: -16px; /* reduce empty space */
}

.mat-card-actions > * {
  margin: auto;
}

.mat-card-image {
  object-fit: contain;
  margin-left: -16px;
  height: auto;
  background : #202020;
  max-height: 50vh;
}

mat-card-title {
  cursor: pointer;
}

.timestamp {
  margin-left: auto;
  color: gray;
}
