<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar [routerLink]="['/profile/'+publisher?.pseudo]" class="header-image" [ngStyle]="{ 'background-image': 'url('+publisher.image+')'}" *ngIf="publisher?.image" ></div>
    <mat-card-title [routerLink]="['/profile/'+publisher?.pseudo]">{{publisher?.pseudo}}</mat-card-title>
    <small class="timestamp">{{post?.date | date:"dd/MM/yy, HH:mm"}}</small>
    <mat-card-subtitle>
      <mat-chip-list *ngIf="post?.categories">
        <mat-chip *ngFor="let categorie of post?.categories">{{categorie}}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{post?.textContent}}</p>
    <img mat-card-image [src]="post.mediaContent" alt="Media Content" *ngIf="post?.mediaContent">
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="fav()" [color]="isFav? 'primary':''" [disabled]="!isLogged()">
      <mat-icon [innerText]="isFav? 'favorite':'favorite_border'"></mat-icon>
    </button>
    <button mat-icon-button (click)="swapHideComments()" [color]="hideComments? '': 'primary'">
      <mat-icon>comment</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <mat-icon>share</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content *ngIf="!hideComments" [@slideInOut]>
    <app-comments [postId]="post._id"></app-comments>
  </mat-card-content>
</mat-card>
