.header-image {
  background-size: cover;
  margin: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  display: unset;
}

.overlay {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: black;
  border-radius: 50%;
  opacity: 0.3;
  user-select: none;
  cursor: pointer;
  transition: .5s ease;
}

.header-image:hover .overlay{
  opacity: 0.8;
}

.icon {
  margin: auto;
  position: relative;
  top: 45%;
}

.actions {
  margin: auto;
}

.submit {
  float: right;
}
