<!--nav bar-->
<mat-toolbar class="header">
  <span [routerLink]="['']" class="title">Priv'Attic</span>
  <span class="spacer"></span>
  <button mat-icon-button [routerLink]="['post']">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

  <!-- profile menu panel -->
  <mat-menu #menu="matMenu">
    <button *ngIf="!isLogged()" mat-menu-item [routerLink]="['login']">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button *ngIf="isLogged()" mat-menu-item (click)="logout()" >
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button  *ngIf="isLogged()" mat-menu-item [routerLink]="['edit/profile']">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button  *ngIf="isLogged()" mat-menu-item [routerLink]="['profile']">
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div [classList]="isMobile()? 'container': 'wrapper container'">
  <div class="nav" *ngIf="!isMobile()">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']">
        <mat-icon class="nav-icon">home</mat-icon>
        <span>Home</span>
      </a>
      <a href="#" mat-list-item>
        <mat-icon class="nav-icon">search</mat-icon>
        <span>Search</span>
      </a>
      <a href="#" mat-list-item>
        <mat-icon class="nav-icon">explore</mat-icon>
        <span>Explore</span>
      </a>
      <a href="#" mat-list-item>
        <mat-icon class="nav-icon">notifications_none</mat-icon>
        <span>Notifications</span>
      </a>
    </mat-nav-list>
  </div>
  <div [classList]="isMobile()? '': 'content'">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- affichage bar en bas si mobile -->
<mat-toolbar class="footer" *ngIf="isMobile()">
  <button mat-icon-button [routerLink]="['']">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>explore</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>notifications_none</mat-icon>
  </button>
</mat-toolbar>
