table td, table td * {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

.avatar {
  object-fit: contain;
  background-size: cover;
  width: 40px;
  height: 40px;
  max-width: 40px;
}

.content {
  word-break: break-all;
}

.profile {
  cursor: pointer;
}

.delete {
  text-align: end;
  position: absolute;
  right: 0;
  cursor: pointer;
}
