<mat-card>
  <div mat-card-avatar mat-card-lg-image class="header-image" [ngStyle]="{ 'background-image': 'url('+user.image+')'}" *ngIf="user?.image"></div>

  <mat-card-content>
    <mat-card-title>{{user?.firstname}} {{user?.lastname}}</mat-card-title>
    <mat-card-subtitle>{{motto()}}</mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button disabled>
      <mat-icon>favorite</mat-icon>
      <span>321</span>
    </a>
    <a mat-button disabled>
      <mat-icon>person</mat-icon>
      <span>123</span>
    </a>
    <a mat-button>
      <mat-icon>person_add_alt_1</mat-icon>
      <span>Follow</span>
    </a>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">article</mat-icon>
      <span>Posts</span>
    </ng-template>
    <app-post [post]="post" *ngFor="let post of posts"></app-post>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">favorite</mat-icon>
      <span>Likes</span>
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">comment</mat-icon>
      <span>Comments</span>
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>
