<mat-card>
  <div mat-card-avatar mat-card-lg-image class="header-image" [ngStyle]="{ 'background-image': 'url('+user.image+')'}" *ngIf="user?.image"></div>

  <mat-card-content>
    <mat-card-title>{{user?.firstname}} {{user?.lastname}}</mat-card-title>
    <mat-card-subtitle>{{motto()}}</mat-card-subtitle>
    <mat-card-subtitle *ngIf="isPrivate()" class="private">This profile is private.</mat-card-subtitle>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button disabled>
      <mat-icon>favorite</mat-icon>
      <span>{{nbLikes}}</span>
    </a>
    <a mat-button disabled>
      <mat-icon>person</mat-icon>
      <span>123</span>
    </a>
    <a mat-button [disabled]="!isLogged()">
      <mat-icon>person_add_alt_1</mat-icon>
      <span>Follow</span>
    </a>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-tab-group mat-stretch-tabs>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">article</mat-icon>
      <span>Posts</span>
    </ng-template>
    <app-post [post]="post" *ngFor="let post of posts"></app-post>
    <h2 *ngIf="!posts.length">There's nothing to display... yet!</h2>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">favorite</mat-icon>
      <span>Likes</span>
    </ng-template>
    <app-post [post]="post" *ngFor="let post of likedPosts"></app-post>
    <h2 *ngIf="!posts.length">There's nothing to display... yet!</h2>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">comment</mat-icon>
      <span>Comments</span>
    </ng-template>
    <mat-card class="comment">
    <app-comment [comment]="comment" *ngFor="let comment of commentPosts"></app-comment>
    </mat-card>
    <h2 *ngIf="!commentPosts.length">There's nothing to display... yet!</h2>
  </mat-tab>
</mat-tab-group>
