.header-image {
  background-size: cover;
  margin: auto;
}

.mat-card-content {
  margin-top: 10px;
  text-align: center;
}

.mat-icon {
  margin-right: 8px;
}

.mat-card-actions {
  display: flex;
}

.mat-card-actions > * {
  margin: auto;
}

h2 {
  color: white;
}

.private {
  color: #c2185b;
}

.comment {
  background-color: #303030;
  padding: 5px;
  margin-top: 2px;
}
